%tr
  %td= user.first_name
  %td= user.last_name
  %td= user.email_address
  -# TODO: translate age value.
  %td= I18n.t(User::AGES[user.age])
  %td= "#{user.height_feets} / #{user.height_inches}"
  %td= user.weight
  %td= user.favorite_color