%tr
  %td= user.first_name
  %td= user.last_name
  %td= user.email_address
  %td= I18n.t(User::AGES[user.age])
  %td= "#{user.height_feets} / #{user.height_inches}"
  %td= user.weight
  %td= user.favorite_color
  %td= user.created_at.strftime("%Y-%m-%d %H:%M")