.container-fluid
  %h1 Step 4
  - step = 'step4'
  %p= render partial: "step_buttongroup", locals: { current_step: step }
  %p= render partial: "step_progress", locals: { valuenow: "80" }
  .form-inputs
    = simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f|
      = f.error_notification
      = hidden_field_tag :current_step, step
      = f.label :favorite_color
      = select_tag "select_color", options_for_select(Wizard::User::COLORS, selected: selected_color), 
        class: "form-control", id: "select_color"
      = f.input :favorite_color, input_html: {id: "favorite_color"}, as: :hidden
      %p
      %input#other_color.form-control
      %p
      = f.submit 'Next', class: 'btn btn-success'
  = render partial: "step_cancel"
