.container-fluid
  %h1 Step 1
  - step = 'step1'
  %p= render partial: "step_buttongroup", locals: { current_step: step }
  %p= render partial: "step_progress", locals: { valuenow: "20" }
  .form-inputs
    = simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f|
      = f.error_notification
      = hidden_field_tag :current_step, step
      = f.input :first_name
      = f.input :last_name
      = f.submit 'Next', class: 'btn btn-success'
  %p
  %p= link_to "Cancel", root_path, class: 'btn btn-danger'