.container-fluid
  %h1 Step 4
  - step = 'step4'
  %p= render partial: "step_buttongroup", locals: { current_step: step }
  %p= render partial: "step_progress", locals: { valuenow: "80" }
  .form-inputs
    = simple_form_for @user_wizard, as: :user_wizard, url: validate_step_wizard_path do |f|
      = f.error_notification
      = hidden_field_tag :current_step, step
      = f.label :favorite_color
      %select#select_color.form-control
        - Wizard::User::COLORS.each do |color|
          %option{value: color, selected: @user_wizard.user.favorite_color == color}= color
      -#= f.input :favorite_color, input_html: {id: "favorite_color"}, as: :hidden
      = f.input :favorite_color, input_html: {id: "favorite_color"}
      %p
      = f.submit 'Next', class: 'btn btn-success'
  %p
  %p= link_to "Cancel", root_path, class: 'btn btn-danger'
